.hidden {
  display: none;
}

h1 {
  background: rgb(119, 111, 111);
  font-size: 400px;
  padding: 10px;
}

footer {
  background: rgb(119, 111, 111);
  text-align: center;
  margin-top: 40px;
  padding: 8px;
}

a {
  text-decoration: none;
}
